<template>
  <div id="app">
    <router-link to="/">Home</router-link> |
    <router-link to="/cars">Cars</router-link> |
    <router-link to="/users">Users</router-link>
    <router-view/>
  </div>
</template>

<script>
import HelloWorld from "@/views/HelloWorld.vue";

export default {
  name: 'App',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
</style>
