<template>
  <div class="car">
    <div class="generator-alert">
      <b-alert v-if="showError" @dismissed="showError=false" variant="danger" :show="errMessageShowDuration">{{errorMessage}}</b-alert>
    </div>
    <b-row>
      <b-input-group size="lg">
        <b-form-input v-model="carId"
                      type="number"
                      placeholder="Enter car id"></b-form-input>
        <b-button @click="findById">Find car by id</b-button>
      </b-input-group>
    </b-row>
    <b-row>
      <b-input-group size="lg">
        <b-form-input v-model="make"
                      type="text"
                      placeholder="Enter make"></b-form-input>
        <b-form-input v-model="model"
                      type="text"
                      placeholder="Enter model"></b-form-input>
        <b-form-input v-model="numberPlate"
                      type="text"
                      placeholder="Enter number plate"></b-form-input>
        <b-form-select v-model="selected" :options="options" class="mb-3"/>
        <b-button @click="search">Search user</b-button>
      </b-input-group>
    </b-row>
    <b-row v-if="response.length > 0">
      <b-col>
        <b-table id="weatherTable"
                 responsive="sm"
                 striped hover
                 :fields="fields"
                 :items="response">
          <template slot="id"></template>
          <template slot="make"></template>
          <template slot="model"></template>
          <template slot="numberplate"></template>
        </b-table>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {AXIOS} from '../components/http-common';

  export default {
    name: 'Car',
    props: [
      "userId"
    ],
    data() {
      return {
        carId: null,
        make: null,
        numberPlate: null,
        model: null,
        response: [],
        errMessageShowDuration: 5,
        errorMessage: undefined,
        showError:false,
        fields: [{key: 'id', label: 'Id'}, {key: 'make', label: 'Make'},
          {key: 'model', label: 'Model'},
          {key: 'numberplate', label: 'Number Plate'}],
        selected: null,
        options: [
          {value: null, text: 'Please select an option'},
          {value: 'name:asc', text: 'Ascending'},
          {value: 'name:desc', text: 'Descending'}]
      }
    },
    created: async function () {
      if(this.userId===undefined){
        await AXIOS.get(`/cars`)
        .then(response => {
          this.response = response.data;
        })
        .catch(e => {
          this.errorMessage = e.response.data.detailMessage;
          this.showError=true;
        })
      }
      else{
        await AXIOS.get(`/users/`+this.userId+'/cars')
          .then(response => {
            this.response = response.data;
          })
          .catch(e => {
            this.errorMessage = e.response.data.detailMessage;
            this.showError=true;
          })
      }
    },
    methods: {
      search: async function () {
        this.query = '/cars?';
        if (this.model)
          this.query = this.query.concat('&model='+this.model);
        if(this.make)
          this.query = this.query.concat('&find='+this.make);
        if(this.numberPlate)
          this.query = this.query.concat('&numberplate='+this.numberPlate);
        await AXIOS.get(this.query)
          .then(response => {
            this.response = response.data;
          })
          .catch(e => {
            this.errorMessage = e.response.data.detailMessage;
            this.showError=true;
          })
      },
      findById: async function  () {
        await AXIOS.get(`/cars/` + this.carId)
          .then(response => {
            this.response = [response.data];
          })
          .catch(e => {
            this.errorMessage = e.response.data.detailMessage;
            this.showError=true;

          })
      },
    }
  }
</script>

<style>

</style>
