<template>
  <div class="user">
    <div class="generator-alert">
      <b-alert v-if="showError" @dismissed="showError=false" variant="danger" :show="errMessageShowDuration">{{errorMessage}}</b-alert>
    </div>
    <b-row>
      <b-input-group size="lg">
        <b-form-input v-model="userId"
                      type="number"
                      placeholder="Enter user id"></b-form-input>
        <b-button @click="findById">Find user by id</b-button>
      </b-input-group>
      <br/>
      <br/>
      <b-input-group size="lg">
        <b-form-input v-model="name"
                      type="text"
                      placeholder="Enter name"></b-form-input>
        <b-form-select v-model="selected" :options="options" class="mb-3"/>
        <b-button @click="search">Search user</b-button>
      </b-input-group>
    </b-row>
    <br>
    <b-row v-if="response.length > 0">
      <b-col>
        <b-table id="weatherTable"
                 responsive="sm"
                 striped hover
                 :fields="fields"
                 :items="response"
        >
          <template slot="id"></template>
          <template slot="name"></template>
          <template slot="Cars" slot-scope="row">
            <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
            <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
              {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
            </b-button>
          </template>
          <template slot="row-details" slot-scope="row">
            <b-card>
              <Car :userId="row.item.id"></Car>
            </b-card>
          </template>
        </b-table>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {AXIOS} from '../components/http-common';
  import ClickOutside from "vue-click-outside";
  import Car from "@/views/Car"

  export default {
    name: 'User',
    directives: {
      ClickOutside
    },
    components: {
      Car
    },
    data() {
      return {
        query: undefined,
        name: undefined,
        userId: undefined,
        response: [],
        errMessageShowDuration: 10,
        errorMessage: undefined,
        showError:false,
        showResponse: false,
        fields: [{key: 'id', label: 'Id'}, {key: 'name', label: 'Name'}, {key: 'Cars', label: 'show cars'}],
        selected: null,
        options: [
          {value: null, text: 'Please select an option'},
          {value: 'name:asc', text: 'Ascending'},
          {value: 'name:desc', text: 'Descending'}]
      }
    },
    created: async function () {
      await AXIOS.get(`/users`)
        .then(response => {
          this.response = response.data;
        })
        .catch(e => {
          this.errorMessage = e.response.data.detailMessage;
          this.showError=true;
        })
    },
    methods: {
      findById: async function () {
        if(this.userId){
        await AXIOS.get(`/users/` + this.userId)
          .then(response => {
            this.response = [response.data];
          })
          .catch(e => {
            this.errorMessage = e.response.data.detailMessage;
            this.showError=true;
          })
        }
      },
      search: async function () {
        if (this.selected !== null && this.name !== undefined)
          this.query = `/users?find=` + this.name + "&sort=" + this.selected;
        if (this.selected === null)
          this.query = `/users?find=` + this.name;
        await AXIOS.get(this.query)
          .then(response => {
            console.log(response.data)
            this.response = response.data;
          })
          .catch(e => {
            this.errorMessage = e.response.data.detailMessage;
            this.showError=true;
          })
      }
    }
  }
</script>

<style>

</style>
